/*!
 * CSS Custom - Business Guru
 * Last Update : Aug 20, 2016
 */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,700italic);

/* >>> Custom Reset <<< */ 

body {color: #4a4a4a; background: #f6fme5f2; font-family: 'Roboto', Arial, Helvetica, sans-serif;}

.breadcrumb { padding: 0; margin: 20px 0; background: none}
	.breadcrumb a { color: #155f86}
	.breadcrumb li.active { color: #afafad}

/* >>> Base Layout <<< */ 	
	
	/* >>> General <<< */
	
	a:hover { text-decoration: none}
	 
	.container-fluid { padding-left: 0; padding-right: 0;}
	.container-narrow { width: 360px; margin: auto }
	
	.show-d { display: block !important}
	.show-m { display: none !important}
		
	ul.nl, ol.nl { list-style: none; margin: 0; padding: 0;}
	
	.nopadding { padding: 0;}
	
	h1, h2 { font-family: 'Montserrat', sans-serif;}
		
	@media only screen and (min-width: 1500px) {
		.container { width: 1440px;}
	}
	
	@media only screen and (max-width: 767px) {	
		.show-d { display: none !important}
		.show-m { display: block !important}				
	}
	
		
	/* >>> Header <<< */	
	#header { height: 96px; z-index: 1000; position: relative}
		#header .container { position: relative}
	
	nav { font-family: 'Montserrat', sans-serif; border-bottom: solid 3px #7f9cdc !important; height: 96px;
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	}
	
	nav.navbar { margin: 0;}
	
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 360px;}
	
	ul.nav.navbar-nav { text-transform: uppercase; padding-top: 50px;}
		ul.nav a { color: #000; padding: 0 30px; font-size: 15px;}
		ul.nav a:hover, ul.nav a:active, ul.nav a:focus { background: none}
		ul.nav.navbar-nav li { position: relative}
		ul.nav.navbar-nav li:after { content:""; width: 8px; height: 8px; position: absolute; background: url(assets/img/menu-spacer.png) no-repeat; right: -4px; bottom: 6px;}
		ul.nav.navbar-nav li:last-child:after { display: none}
	
	ul.nav.nav-user { text-align: right; padding: 15px 0 15px; font-size: 12px; color: #858585}
		ul.nav.nav-user li { display: inline-block; padding: 0 0 0 10px; }
		ul.nav.nav-user li a { font-size: 12px; padding: 0; color: #0d4e6b; display: inline-block}
	
	ul.nav.nav-links { text-align: right; position: absolute; right: 0; top: 50px;}
		ul.nav.nav-links li { display: inline-block}	
		ul.nav.nav-links li a { font-size: 12px; padding: 0 0 0 20px; color: #747474}
		ul.nav.nav-links .show-d { display: inline-block !important}
	
	.navbar-brand { height: auto; padding: 0; position: relative; padding: 8px 0; }
		.navbar-brand img { display: inline-block; max-width: 100%;}
	
	
	.navbar-toggle { margin-top: 18px; font-size: 24px; color: #2d54ad}
	
	/** Desktop search field **/
	#searchbar {
	  	display: none; float: left; width: 100%; height: 62px; padding-left: 25px; padding-right: 10px; z-index: 9999; background: #fff;
	  	border-top: 1px solid #d8d8d8;	  
	  	-webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
	  	-moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
	  	box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
	}
	
	#searchfield {
	  	display: block; width: 88%; border: 0; outline: none; padding: 0; height: 60px; line-height: 60px;
	  	font-size: 20px; font-weight: bold; color: #676767;
	}
	
	#searchsubmit {
	  	display: block; float: right; margin-top: 20px; background: none; color: #717171; font-size: 20px;
	  	border: 0; outline: none; cursor: pointer;
	}
	
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		
		#header, nav { height: 84px}
		
		.navbar-brand { width: 220px;}
		
		ul.nav.navbar-nav { padding-top: 40px;}
			ul.nav a { color: #000; padding: 0 18px; font-size: 12px;}
		
		ul.nav.nav-user { padding: 10px 0 10px;}
		
		ul.nav.nav-links { top: 40px}
		
	}
	
	@media only screen and (max-width: 767px) {
	
		.navbar-brand { padding: 25px 20px; max-width: 200px;}
			.navbar-brand img { display: inline-block; max-width: 100%;}
		
		.navbar-collapse { background: #fff;}
		
		ul.nav.navbar-nav { padding-top: 0; margin: 0 -15px;}
			ul.nav.navbar-nav li:after { display: none}
			ul.nav.navbar-nav a { padding: 10px 25px; font-size: 14px; text-transform: none}
		
		ul.nav.nav-user { text-align: left; padding: 0; font-size: 12px; color: #858585; margin: 0 -15px}
			ul.nav.nav-user li { display: block}
			ul.nav.nav-user li a { padding: 10px 15px; font-size: 14px; text-transform: none}
			ul.nav.nav-user li.logged { padding: 10px 25px}
			ul.nav.nav-user li.logged a { padding: 0;}
		
		ul.nav.nav-links { text-align: left; position: static;  margin: 0 -15px}
			ul.nav.nav-links li { display: inline-block}
			ul.nav.nav-links li a { padding: 10px 25px; font-size: 14px; text-transform: none}
			
		
	}
	
		
	@media only screen and (max-width: 1280px)  {
	}	
	@media only screen and (min-width: 992px) and (max-width: 1199px)  {
		
	}
		
	@media only screen and (min-width: 768px) and (max-width: 991px) {	
	
	}
	
	@media only screen and (max-width: 767px) {
	
		
	}
	
	@media only screen and (max-width: 479px) {	 	
		
	}
		
	/* >>> Body <<< */
	
	#main {}
	
	h1.panel-header { font-size: 20px; overflow: hidden; background: url(assets/img/bg-border-pattern.png) bottom repeat-x;
		padding-right: 5px; padding-bottom: 25px; margin: 0 0 25px;}
		h1.panel-header span { float: right; font-size: 12px; line-height: 12px; padding-top: 10px;
			font-family: 'Roboto', Arial, Helvetica, sans-serif; font-weight: normal}
		h1.panel-header span a { color: #626262}
		h1.panel-header span .fa { margin-left: 5px;}

	.panel-footer {  margin: 0; padding: 20px 0 0; margin: 20px 0 0; font-size: 12px;
			background: url(assets/img/bg-border-pattern.png) top repeat-x; border: none
		}
	
	.side-panel {}
		.side-panel h1 { margin: 0 0 10px; font-size: 22px; font-weight: normal; color: #000}
		
		.side-panel.side-ask { background: #175a87; color: #FFFFFF; padding: 15px;}
			.side-panel.side-ask h1 { color: #fff}
			.side-panel.side-ask .side-block { background: none; padding: 0;}
			.side-panel.side-ask .btn { background: #f2c36b}
			.side-panel #suggestbox .twitter-typeahead { margin-bottom: 5px; color: #000}
	
	.side-block-table { background: #FFFFFF; border: solid 1px #CCCCCC; display: table; table-layout: fixed; width: 100%;}
		.side-block-table .row { border-bottom: solid 1px #CCCCCC; margin: 0; display: table-row; text-align: center;}
		.side-block-table .row:last-child column { border: none}
		.side-block-table .column { padding: 8px; border-right: solid 1px #CCCCCC; font-size: 11px;
			border-bottom: solid 1px #CCCCCC; width: 50%; display: table-cell; vertical-align: middle}
		.side-block-table .column:last-child { border-right: none}	
		.side-block-table span { display: block; font-size: 26px;}	
		
	.subheader { margin: 10px 0 25px;}
		.subheader ul.submenu { line-height: normal; margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; font-size: 16px;}
		.subheader ul.submenu li { display: inline-block; margin-right: 20px; position: relative}
			.subheader ul.submenu li a { color: #939290; padding-bottom: 15px; display: inline-block; position: relative}
			.subheader ul.submenu li.active a { color: #000;}
			.subheader ul.submenu li.active:after { content:""; height: 6px; width: 100%; position: absolute; bottom: 0; left: 0;
				background: url(assets/img/bg-border-pattern.png) bottom repeat-x;
			}
		
	
	.panel-block { background: #FFFFFF; margin: 20px 0; padding: 20px;
		-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
	}
	
	.side-block { background: #fff; padding: 15px;}
	
	.thumb {}
		.thumb img { width: 100%; height: auto}
	
	@media only screen and (max-width: 767px)  {
	}
	
	/* >>> Footer <<< */
	#footer {  margin-top: 20px;}
	
	.footer-wrap { position: relative; background: #333333; padding: 25px 0; font-size: 14px; color: #fff;}
		.col-copy { position: absolute; left: 0; top: 0; width: 200px;}
		.col-links { position: absolute; right: 0; top: -8px; width: 200px;}
			.col-links ul { list-style: none; margin: 0; padding: 0; text-align: right; overflow: hidden}
			.col-links ul li { padding-left: 10px; display: inline-block; max-width: 40px;}
			.col-links ul li img { width: 100%; height: auto}
		.col-menu { padding-left: 220px; padding-right: 220px;}
		.col-menu ul { list-style: none; margin: 0 0 8px; padding: 0;}
			.col-menu ul:last-child { margin-bottom: 0;}
			.col-menu ul li { display: inline-block; position: relative; margin-right: 6px; padding-right: 10px;}
			.col-menu ul li:after { content:""; width: 2px; height: 8px; background: #8b8b8d; position: absolute; right: 0; top: 3px; }
			.col-menu ul li:last-child:after { display: none}
			.col-menu ul li a {color: #8b8b8d; display: inline }
		
	.footer-menu { list-style: none; margin: 20px 0 0; padding: 0;}
		.footer-menu li { display: inline-block; margin-right: 20px;}
		.footer-menu li a { color: #fff; border-bottom: dotted 1px #fff; display: inline-block; padding-bottom: 3px;}	
	
	.footer-close { font-size: 12px; padding: 6px 0;}
		.footer-close ul { list-style: none; margin: 0; padding: 0;}
		.footer-close ul li { display: inline-block;}
		.footer-close ul li:after { content:"|"; padding: 0 8px;}
		.footer-close ul li:last-child:after { display: none}
		.footer-close ul li a { color: #000}
			
	@media only screen and (max-width: 767px)  {
		.col-footer { text-align: center}
		
		.col-copy { position: relative; left: auto; top: auto; width: auto;}
		.col-links { position: relative; right: auto; top: auto; width: auto; margin: 25px 0;}
			.col-links ul { text-align: center}
		
		.col-menu { padding: 0;}
		.col-menu ul { line-height: normal; margin: 0 0 8px; padding: 0;}
			.col-menu ul li { margin-bottom: 5px;}
		
		.footer-menu { margin: 40px 0;}
		.footer-menu li { display: block; margin: 0 0 15px;}	
		.footer-menu li a { display: block}
	}
	
	
	/* >>> valign <<< */
	.valign-wrap { display: table; vertical-align: middle; width: 100%; height: 100%;}
		.valign {display: table-cell; vertical-align: middle; width: 100%; height: 100%;}	

/* >>> Page Style <<< */
	
	/* >>> Homepage <<< */
	.home-teaser { background: url(assets/img/cover.jpg) no-repeat; background-size:cover; color: #fff; text-align: center} 
		.home-teaser .wrap { width: 700px; max-width: 100%; margin: 0  auto; /* padding: 60px 15px 140px; */ padding: 60px 15px;}
		.home-teaser h1 { margin: 0 0 30px; text-transform: uppercase; font-size: 45px; letter-spacing: 1px;}
		.home-teaser p { color: #b4daf4; font-size: 18px; line-height: 32px; margin-bottom: 35px}
		.home-teaser a { color: #f3c36a; text-decoration: underline}
		
		.home-teaser .input-group { background: #FFFFFF; padding: 8px;
			-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;
		}
			.home-teaser .input-group .form-control { border: none; font-size: 18px; height: 40px; line-height: 40px;
				-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;
			}
			.home-teaser .input-group .form-control:focus {
				-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;
			}
			.home-teaser .input-group .input-group-btn .btn { background: #f3c36a; color: #fff; font-size: 18px; text-transform: uppercase; padding-left: 20px; padding-right: 20px; margin-left: 0;
				-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;
			}
		
		.home-teaser .tab-area { margin: 20px 0 0}
			.home-teaser .nav-tabs.nav-justified > .active > a, .home-teaser .nav-tabs.nav-justified > .active > a:hover, .home-teaser .nav-tabs.nav-justified > .active > a:focus { border: none}
			.home-teaser .tab-area a { text-decoration: none}			
			.home-teaser .tab-area .nav-tabs { border-bottom: solid 1px #b4daf4;}
			.home-teaser .tab-area .nav-tabs li a { padding: 15px 10px; background: none; border: none; display: block; color: #86b5d5}
			.home-teaser .tab-area .nav-tabs li.active a { color: #fff; font-weight: 500}
			
			.home-teaser .tab-content { padding: 15px; text-align: left; font-size: 15px; line-height: 26px;}
			.home-teaser .tab-content ul.content-list { list-style: none; margin: 0; padding: 0; margin-bottom: 20px;} 
			.home-teaser .tab-content ul.content-list li { position: relative; padding: 5px 0 5px 20px;}
			.home-teaser .tab-content ul.content-list li:before { content: "\f138"; font-family: FontAwesome; position: absolute; left: 0; font-size: 13px;}
			.home-teaser .tab-content ul.content-list a {color: #f3c36a}
			
			.home-teaser .tab-content a.more { font-size: 12px; color: #b4daf4 }
		
		/*
		.home-teaser .explorer {  position: relative; margin: 35px 0 0;}
			.home-teaser .explore-menu { list-style: none; margin: 0; padding: 0; position: relative}
			.home-teaser .explore-menu > li { width: 50%; display: block; float: left; height: 38px; font-size: 18px; line-height: 38px; position: static; cursor: pointer; color: #86b5d5; font-weight: bold}
			.home-teaser .explore-menu > li:hover { color: #fff;}
			.home-teaser .explore-menu > li:hover .sub { display: block}
			.home-teaser .explore-menu .sub { display: none; position: absolute; top: 100%; left: 0; right: 0; width: 100%; background: #FFFFFF; z-index: 100; padding: 20px;
				-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
			}
			
			.home-teaser .explore-menu ul.content-list { list-style: none; margin: 0; padding: 0; text-align: left} 
			.home-teaser .explore-menu ul.content-list li { position: relative; padding: 5px 0 5px 20px; font-size: 16px;}
			.home-teaser .explore-menu ul.content-list li:before { content: "\f138"; font-family: FontAwesome; position: absolute; left: 0; font-size: 13px; color: #3592d3}
			.home-teaser .explore-menu ul.content-list a {color: #f3c36a; font-weight: normal; text-decoration: none}
			
			.home-teaser a.more { font-size: 12px; color: #b4daf4 }
		*/
		.home-teaser .explorer {  position: relative; margin: 35px 0 0;}
		
			
	.home-slider { /* margin-top: -120px; margin-bottom: 30px; */ margin: 30px 0 60px;}
		.home-slider span { display: block; font-size: 11px; font-style: italic; padding: 0 0 6px; color: #666666}
		.home-slider .info ul { list-style: none; margin: 0; padding: 10px 0 0; font-weight: normal; font-size: 11px; color: #666666}
		.home-slider .info ul li { padding-right: 20px; display: inline-block}	 
		.home-slider .info ul li .fa { color: #000; padding-right: 4px; font-size: 15px;}
	
	.side-link { margin-bottom: 15px;}
		.side-link img { width: 100%; height: auto}
	
	/* >>> Register <<< */
	.form-register {}
		.form-register .row { margin-left: -8px; margin-right: -8px;}
		.form-register .col-xs-12 { padding: 0 8px;}
	
	/* >>> Page Inside <<< */
	.page-inside {}
		.page-inside h1 { font-size: 26px; text-transform: uppercase}
		.page-inside h2 { font-size: 20px; margin: 0 0 30px;}
		.page-inside hr { height: 9px; background: url(assets/img/bg-border-pattern.png) bottom repeat-x; margin: 15px 0;}
		
	.side-about {}	
	
	/* >>> Event <<< */
	
	/* >>> Contact <<< */
	.form-contact { margin: 20px 0;}
		.form-contact .form-control { margin-bottom: 8px;}
		.form-contact .control-label { text-align: left}
		
				
/* >>> Module Style <<< */ 
	
	/* >>> Slider <<< */
	.slide-content.owl-carousel { width: auto}
		.slide-content .owl-control { width: 100%; height: auto}
		.slide-content .owl-dots { text-align: center}
		.slide-content .owl-dot { width: 8px; height: 8px; background: #e4e4e4; display: inline-block; margin: 0 2px;
			-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
		}
		.slide-content .owl-dot.active { background: #176081;}
		
	.slide-home { font-weight: 500; margin-left: -10px; margin-right: -10px;}
		.slide-home .item { position: relative; z-index: 1; padding: 10px;}	
		.slide-home .content { padding: 10px 8px;}
		.slide-home a.item-wrapper { background: #FFFFFF; color: #000000; display: block;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		}
	
	/* >>> Thumbnail <<< */	
	.thumb-people { margin-bottom: 25px;}
		.thumb-people .item { text-align: center; padding: 0 40px;}
		.thumb-people .thumb { overflow: hidden; margin: 0 auto 10px; max-width: 220px;
			-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
		}
		.thumb-people .thumb img { width: 100%; height: auto;}
		.thumb-people .content {}
		.thumb-people .content p { font-size: 12px;}
		.thumb-people label { display: block; position: relative; font-size: 17px; padding-bottom: 15px; margin-bottom: 10px;
			background: url(assets/img/ic-about.png) center bottom no-repeat
		}
	
	/* >>> Crop Thumbnail <<< */
	.crthumb { position: relative; overflow: hidden; display: block;}
	.crthumb img {
		position: absolute; left: 50%; top: 50%;
   		-webkit-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
	}	
	.crthumb.land1 { width: 100%; padding-bottom: 50%;}	
	.crthumb.land2 { width: 100%; padding-bottom: 60%;}	
	.crthumb.land3 { width: 100%; padding-bottom: 80%;}		
	.sqh-content { position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
	
	/* >>> Forms <<< */
	.side-suggest-form {}
	
	#suggestbox {}
		#suggestbox label { display: block; margin-bottom: 8px;}
		#suggestbox .twitter-typeahead { display: block !important}	
		#suggestbox .tt-menu { width: 100%; background: #FFFFFF; padding: 8px 15px; font-size: 15px;}
		#suggestbox .tt-menu .tt-suggestion { padding: 5px 0;}	
		#suggestbox .form-control {
			border-radius: 0; outline: none; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; border: none; border-bottom: solid #c8c8c8 1px;
		}
	
	/* >>> Point List <<< */
	ul.list-point { list-style: none; margin: 10px 0; padding: 0;}
		ul.list-point li { overflow: hidden; margin: 6px 0;}
		ul.list-point li label { width: 32px; float: left; text-align: center}
		ul.list-point li span { display: block; padding-right: 32px;}
	
	
	
	
	/* >>> Explore List <<< */
	.explore-list { list-style: none; margin: 0; padding: 0;}
		.explore-list .mark { background: #e1e1e1; color: #f6f6f6; display: block; float: left; width: 46px; height: 46px; line-height: 46px; text-align: center; font-size: 30px; padding: 0;}
		.explore-list .mark.marked { background: #f2c36b; color: #ffffff}
		
		.explore-list .accordion-toggle * { cursor: pointer;
			-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  		}
		
		.explore-list .info ul { list-style: none; margin: 0; padding: 4px 0 0; font-weight: normal; font-size: 11px; color: #666666}
		.explore-list .info ul li { padding-right: 20px; display: inline-block}	 
		.explore-list .info ul li .fa { color: #000; padding-right: 4px; font-size: 15px;}
		
		.explore-list .panel-explore { padding: 0; border: none; background: none;
			-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
		}
			.explore-list .panel-explore .panel-heading { padding: 12px 0; overflow: hidden; border-bottom: solid 1px #e1e0de}
			.explore-list .panel-explore .header { position: relative; padding: 5px 25px 0 58px;}
			.explore-list .panel-explore .header label { margin: 0; font-size: 16px; font-weight: normal}
			.explore-list .panel-explore .header .indicator { position: absolute; top: 50%; right: 10px; font-size: 18px;}
			
			.explore-list .panel-explore .panel-body { padding: 15px; border: none !important; background: #fff; border-bottom: solid 1px #e1e0de}
				.explore-list .panel-explore .panel-body .info { color: #000; padding: 10px 0;}
				.explore-list .panel-explore .panel-body .info a { color: #f2c36b}
				.explore-list .panel-explore .panel-body .answer { overflow: hidden}
				.explore-list .panel-explore .panel-body .answer .thumb { width: 85px; height: 85px; float: left}
				.explore-list .panel-explore .panel-body .answer .thumb img { width: 100%; height: auto}
				.explore-list .panel-explore .panel-body .answer .content { padding-left: 100px;}

	
	/* >>> Article List <<< */
	ul.article-list { list-style: none; margin: 0; padding: 0;}
		ul.article-list li { margin-bottom: 25px;}
		ul.article-list li:before { content:""; display: table}
		ul.article-list li:after {content:""; display: table; clear: both}
		ul.article-list .thumb { width: 180px; float: left}
		ul.article-list .content { padding-left: 195px;}
		ul.article-list a { color: inherit}
		
		ul.article-list .post-category { font-size: 11px;}
			ul.article-list .post-category a { color:#FFFFFF; display: inline-block; padding: 2px 8px;}
			ul.article-list .post-category.tech a { background: #2d54ad}
			ul.article-list .post-category.global a { background: #9ca84b}
			ul.article-list .post-category.business a { background: #6a6a6a}
			ul.article-list .post-category.social a { background: #c65bd0}
			
			ul.article-list .post-title { font-size: 18px; margin: 10px 0 4px; color: #000; line-height: 18px;}
			ul.article-list .post-meta { font-size: 12px; line-height: 12px; color: #b2b2b2; font-style: italic}
			ul.article-list .post-meta a.post-author { color: #f3c36a; font-weight: 500}
			ul.article-list .article-item p { margin: 10px 0 10px; font-size: 13px; color: #999999; line-height: 16px;}
	
	/* >>> Event List <<< */
	ul.event-list { list-style: none; margin: 0; padding: 0;}
		ul.event-list li { margin-bottom: 20px; padding-bottom: 20px; border-bottom: solid 1px #e5e5e5}
		ul.event-list .thumb { margin-bottom: 8px;}
		ul.event-list .content {}
		ul.event-list .event-title { font-size: 16px; font-weight: 500; color: #000; margin-bottom: 10px;}
		.event-date { font-size: 11px; position: relative; padding-left: 20px; color: #555555; margin-bottom: 4px;}
			.event-date:before { content: "\f073"; font-family: FontAwesome; position: absolute; left: 0;}
		.event-time {font-size: 11px; position: relative; padding-left: 20px; color: #555555; margin-bottom: 4px;}
			.event-time:before { content: "\f017"; font-family: FontAwesome; position: absolute; left: 0}
		.event-place {font-size: 11px; position: relative; padding-left: 20px; color: #555555; margin-bottom: 4px;}
			.event-place:before { content: "\f041"; font-family: FontAwesome; position: absolute; left: 0}
		ul.event-list .event-item p { font-size: 12px; line-height: 15px; color: #999999; margin: 10px 0 0; height: 45px; overflow: hidden}			
	
	.side-block .event-list { overflow: hidden}
		.side-block .event-list li { width: 50%; float: left; padding: 10px;}
	
	.page-event {}	
		.page-event ul.event-list .thumb { width: 180px; float: left; margin-bottom: 0;}	
		.page-event .content { padding-left: 195px;}	
		.page-event .event-item { overflow: hidden}
		.page-event .event-date, .page-event .event-time { display: inline-block; margin-right: 20px;}
		.page-event ul.event-list .event-item p { height: auto}
	
	.page-event-detail .event-date, .page-event .event-time, .page-event .event-date, .page-event .event-place { display: inline-block; margin-right: 15px;}
		.page-event-detail .event-place { float: right; margin-right: 0;}
		
	/* >>> Article <<< */
	.article-banner img { width: 100%; height: auto}
	.article-meta { margin: 10px 0 20px;}
	
	/* >>> Article List <<< */
	ul.article-list { list-style: none; margin: 0; padding: 0;}
		ul.article-list li { margin-bottom: 20px; padding-bottom: 20px; border-bottom: solid 1px #e5e5e5}
		ul.article-list .thumb { margin-bottom: 8px;}
		ul.article-list .content {}
		ul.article-list .article-title { font-size: 16px; font-weight: 500; color: #000; margin-bottom: 10px;}
		.article-date { font-size: 11px; position: relative; padding-left: 20px; color: #555555; margin-bottom: 4px;}
			.article-date:before { content: "\f073"; font-family: FontAwesome; position: absolute; left: 0;}
		.article-time {font-size: 11px; position: relative; padding-left: 20px; color: #555555; margin-bottom: 4px;}
			.article-time:before { content: "\f017"; font-family: FontAwesome; position: absolute; left: 0}
		.article-place {font-size: 11px; position: relative; padding-left: 20px; color: #555555; margin-bottom: 4px;}
			.article-place:before { content: "\f041"; font-family: FontAwesome; position: absolute; left: 0}
		ul.article-list .article-item p { font-size: 12px; line-height: 15px; color: #999999; margin: 10px 0 0; height: 45px; overflow: hidden}			
		
	.page-article {}	
		.page-article ul.article-list .thumb { width: 180px; float: left; margin-bottom: 0;}	
		.page-article .content { padding-left: 195px;}	
		.page-article .article-item { overflow: hidden}
		.page-article .article-date, .page-article .article-time { display: inline-block; margin-right: 20px;}
		.page-article ul.article-list .article-item p { height: auto}
	
	.page-article-detail .article-date, .page-article .article-time, .page-article .article-date, .page-article .article-place { display: inline-block; margin-right: 15px;}
		.page-article-detail .article-place { float: right; margin-right: 0;}
	
	/* >>> Modal <<< */
	.modal-default {}
		.modal-default .modal-header {  margin: 0; padding: 15px 0; margin: 0 20px; text-align: left;
			background: url(assets/img/bg-border-pattern.png) bottom repeat-x; border: none
		}
		.modal-default .modal-footer {  margin: 0; padding: 15px 0; margin: 0 20px; text-align: left; font-size: 12px;
			background: url(assets/img/bg-border-pattern.png) top repeat-x; border: none
		}
		.modal-default .modal-footer p { margin-bottom: 0;}
		.modal-default .modal-header .close { font-size: 32px; width: 36px; height: 36px; line-height: 36px; margin-top: 4px; opacity: 1; background: #c04131;
			font-weight: normal; color: #fff; text-shadow: none; position: absolute; top: -18px; right: -18px;
			-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
		}
		.modal-default .modal-content {}
		.modal-default .modal-body { padding: 15px 20px;; font-size: 13px; line-height: 20px;}
		.modal-default .modal-title { text-transform: uppercase; font-size: 24px; font-weight: bold;}		
	
	.modal-form {}
		.modal-form .form-group { border-bottom: solid 2px #cccccc}
		.modal-form fieldset.form-group { border: none}
		.modal-form .form-group .form-control { padding: 6px; height: 36px; font-size: 12px;}
	
	.modal-narrow .modal-dialog { width: 360px; max-width: 100%;}
	
	body.modal-open { padding-right: 0 !important; overflow: auto}
	
/* >>> Additional Style <<< */ 
	
	/* >>> Buttons <<< */
	.btn-area {}
		.btn-area .btn { }
	
	.btn.wide { width: 100%;}
	
	.btn-login-social { margin: 15px 0 10px;}
		.btn-login-social .btn {height: 40px; line-height: 28px; margin: 4px 0;}
	
	.btn.btn-fb { color: #fff; background: #3b5998; padding-left: 70px; padding-right: 70px; text-align: left}
		.btn.btn-fb .fa { width: 28px;}
	.btn.btn-gp { color: #fff; background: #dd4b39; padding-left: 70px; padding-right: 70px; text-align: left}
		.btn.btn-gp .fa {width: 28px;}
	.btn.btn-li { color: #fff; background: #888888; padding-left: 70px; padding-right: 70px; text-align: left}
		.btn.btn-li .fa {width: 28px;}	
	
	.btn.btn-orange { color: #fff; background: #f3c36a;}
	.btn.btn-red { color: #fff; background: #d23927;}



/* >>> ................................................New Style CSS..................................................... <<< */
.modal-font{
	font-family:Montserrat, "MS Sans Serif", "MS Serif", "Arial Black", "Times New Roman";
	font-size:25px;
	font-weight:600;
}

/*Css for Follow*/
.profile-detail__bg {
  background-image:url(image/cover.jpg);
  background-size: contain;
  height: 350px; }

.profile-detail__brief img {
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  margin-right: 10px; }

.profile-detail__brief h2 {
  color: #fff;
  display: inline-block;
  text-shadow: 1px 1px 1px #333; }
  .profile-detail__brief h2 span {
    font-size: 0.5em;
    display: block; }

.profile-detail__top {
  margin-top: 277px;
  position: relative;
  z-index: 4; }

.profile-detail__small-stats ul {
  background-color: #fff;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0; }
  .profile-detail__small-stats ul li {
    display: inline-block;
    text-align: center; }
    .profile-detail__small-stats ul li.active a {
      border-bottom: 5px solid #337ab7; }
    .profile-detail__small-stats ul li a {
      display: block;
      padding: 10px 20px 5px;
      position: relative;
      z-index: 5; }
    .profile-detail__small-stats ul li span {
      display: block; }

.profile-detail__recent-title {
  background: #fff;
  padding: 10px 20px;
  border-radius: 3px; }


.list{
	list-style: none;
	 margin: 0;
  padding: 0; 
	
}



/*follow */


.card {
    padding-top: 0px;
    margin: 0px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.card.hovercard .cardheader {
    background: url(image/cover.jpg);
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

@media only screen and (max-width: 968PX) {
	
		
	
}

/*Live Cast */




.sidebar-left{
	 background: none repeat scroll 0 0 #fff6f6;
    border-radius: 4px 0 0 4px;
}

.sidebar-left .top{
	 background: none repeat scroll 0 0 #175a87;
    color: #fff;
    min-height: 60px;
    padding:20px 20px 40px 20px;
}

.sidebar-left .live{
	padding-left: 195px;
	padding-bottom: 18px;

}

.profil .profil-avatar{
float: left;	

}
.profil .profil-name {
	display: inline-block;
    margin: 0 0 0 10px;
}
.profil .profil-name h5{
	font-size: 16px;
	font-weight: 500;
	margin:20px 0 0 0;	
}
.profil .profil-name h5 a{
	color:#fff;
}

.profil .profil-name h5 span{
	color:#fff;
	font-size: 14px;
	font-weight: 100;
}

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

.profile{
	padding-top: 13px;
}
.profile .profil-avatar{
float: left;	

}
.profile .profil-name {
	display: inline-block;
    margin: 0 0 0 10px;
}
.profile .profil-name p{
	font-size: 14px;
	margin:10px 0 0 0;	
	color:#fff;


}

.profile .profil-name p span{
	color:#fff;
	font-size: 12px;
}

.sidebar-left .user {
	background-color: #71b4e3;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: scroll;
	height: 685px;
}
.user .icon{
padding-left: 90px;
padding-top: 10px; 
	color: #fff;

}

.middle-content .title{
	padding:43px 30px 18px 30px;
}

.middle-content .icon{
	padding: 20px 0 20px 240px;
}

.btn-like{
	background-color: #1565c0;
		padding:8px 20px;
	color:#FFFFFF;

}
.btn-share{
	background-color:#f44336;
			padding:8px 12px;
	color:#FFFFFF;
  margin-left: 12px;
	
}

.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.table {
width: 100%;
margin-bottom: 20px;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
display: table;
}

.widget.widget-table .table {
margin-bottom: 0;
border: none;
}

.widget.widget-table .widget-content {
padding: 0;
}

.widget .widget-header + .widget-content {
border-top: none;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.widget .widget-content {
padding: 20px 15px 15px;
background: #FFF;
border: 1px solid #D5D5D5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.widget .widget-header {
position: relative;
height: 40px;
line-height: 40px;
background: #E9E9E9;
background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
text-shadow: 0 1px 0 #fff;
border-radius: 5px 5px 0 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
border-bottom: 1px solid #bababa;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
border: 1px solid #D5D5D5;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-background-clip: padding-box;
}

thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
}

.widget .widget-header h3 {
top: 2px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.sidebar-kanan{
	background: no-repeat  0 0 #71b4e3;
    border-radius: 4px 0 0 4px;
	margin-top: -20px;
	
}
.sidebar-kanan .title{
	background-color:#175a87 ;
	padding: 20px;color: #FFFFFF;
}
.sidebar-kanan .tiitle h3{
	font-size: 20px;
	font-weight: 500;
	
}
.chat-box{
	padding: 20px 10px;
	
}

.chat-box .primary-font{
font-size: 14px;
	font-weight: 500px;
	color: #FFFFFF;
}


.sidebar-kanan .tiitle p{
	font-size: 16px;
	
}
.chat-box{
	overflow-y: scroll;
	height:580px;
	
}
.chat-box .text {
	margin-top: 10px;
	padding: 10px;
	background: #fff;
	border-radius: 10px;
	
}

.chat-box .media a{
	padding-left: 14px;
	padding-top: 10px;
	color: aliceblue;
	
}
.chat-box .media i{

	
}
.chat-box .media p{
font-size: 14px;
	
}
.color-form{
background-color: #175a87;
}
.form-1{
	padding: 30px 20px 10px 20px;
}
.button-1{
	background-color: #f44336;
	margin-left: 200px;
	padding: 8px 20px;
	color: #FFF;
	border-radius: 10px;
}
/*Event */
.isi {
  padding-top: 3px;
  padding-bottom: 4px;
  color: #777;
  text-align: left;
}

.thumbnail .caption h3{
	font-size: 20px;
	font-weight: 500px;
	padding: 0;

}
.thumbnail .caption h5{
	font-size: 16px;
	font-weight: 400px;
	padding: 0;
	margin: 0;

}

/*booking css */
.center {
    margin-top:20px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}